<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.duanjiefei.base2">

    <application
        android:theme="@style/AppTheme">
        <activity android:name=".BaseActivity">
        </activity>
    </application>

</manifest>